@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p> calando la wea </p>
</div>
<!-- Manejando una grid con divs-->
<div class="row"> 
    <div class="col">
        Columna 1
    </div>

    <div class="col">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>

    <div class="col">
        Columna 4
    </div>
</div>

<div class="row">
    <div class="col">
        Columna 1
    </div>

    <div class="col-6">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>
</div>

<h2>Ejemplo vertical</h2>

<div class="row">
    <div class="col-sm-4">
        Columna 1
    </div>

    <div class="col-sm-4">
        Columna 2
    </div>

    <div class="col-sm-4">
        Columna 3
    </div>
</div>

<h2>Ejemplo Alineado de fila</h2>
<!--Se puede utilizar offset para brincar columnas-->
<div class="row">
    <div class="col">
        Columna 1
    </div>

    <div class="col">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>
</div>

<h2>Ejemplo de offset</h2>
<!--Se puede utilizar offset para brincar columnas-->
<div class="row">
    <div class="col offset-4">
        Columna 1
    </div>

    <div class="col">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>
</div>

<h2>Ejemplo de gutter horizontal</h2>
<!--Se puede utilizar offset para brincar columnas-->
<div class="row gx-5">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<h2>Ejemplo de gutter Vertical</h2>
<!--Se puede utilizar offset para brincar columnas-->
<div class="row gx-5 gy-2s">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<h2>Imagen</h2>

<div class="row gy-3">
    <div class="col">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />
    </div>

    <div class="col">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />
    </div>

    <div class="col">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />
    </div>
    <div class="col">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />
    </div>
    <div class="col">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />
    </div>
    <div class="col">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />
    </div>
</div>


<h2>Thumbnail</h2>

<img class="img-thumbnail rounded-circle" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" />

<h2>Boton color</h2>

<button class="btn-primary"> Botonsorio </button>
<button class="btn-secondary"> Botonsorio </button>
<button class="btn-danger"> Botonsorio </button>
<button class="btn-warning"> Botonsorio </button>
<button class="btn-success"> Botonsorio </button>




<h2>tablas reales</h2>
<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </thead>

    <tbody>
        <tr>
             <td>1</td>
             <td>Felipe</td>
             <td>Gavilan</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Felipe</td>
            <td>Gavilan</td>
        </tr>
        <tr>
             <td>3</td>
             <td>Felipe</td>
             <td>Gavilan</td>
        </tr>
       
    </tbody>

</table>


<div class="ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iaV1X4FH84U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div class="row gy-4">
    <div class="col-md-4 gx-1">
        <div class="ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iaV1X4FH84U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iaV1X4FH84U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iaV1X4FH84U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>



</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>tamaños</h2>

<h2>hancho</h2>
<div class="w-25 p-3 bg-danger"> 25% </div>
<div class="w-50 p-3 bg-warning"> 50% </div>
<div class="w-75 p-3 bg-secondary"> 75% </div>
<div class="w-100 p-3 bg-primary"> 100% </div>
<div class="w-auto p-3 bg-success"> AUTO </div>

<h2>alto</h2>

<div style="height: 100px;" class="bg-info">  
    <div class="h-25 d-inline-block  bg-danger"> 25% </div>
    <div class="h-50 d-inline-block bg-warning"> 50% </div>
    <div class="h-75 d-inline-block bg-secondary"> 75% </div>
    <div class="h-100 d-inline-block bg-primary"> 100% </div>
    <div class="h-auto d-inline-block bg-success"> AUTO </div>
</div>

<h2>toda la ventana</h2>

<div class="vw-100 bg-success"> width 100vw </div>
<div class="vh-100 bg-secondary"> width 100vw </div>

<h2>Margenes</h2>
<!--mt viene de margin top-->
<div class="mt-2"> Fila 1 </div>
<div class="mt-2"> Fila 2 </div>
<div class="mt-2"> Fila 3 </div>

<button class="btn btn-primary pe-5">Boton 1</button>
<button class="btn btn-primary ms-3">Boton 2</button>



<h2>Texto</h2>
<p class="text-start"> Texto a la izquierda </p>
<p class="text-center"> Texto centrado </p>
<p class="text-end"> Texto a la derecha </p>

<p class="text-sm-center"> Texto centrado en pantallas pequeñas</p>
<p class="text-md-center"> Texto centrado en pantallas medianas</p>
<p class="text-lg-center"> Texto centrado en pantallas grandes</p>
<p class="text-xl-center"> Texto centrado en pantallas muy grandes</p>

<h2>Texto dentro de su contenedor</h2>
<div class="badge bg-primary text-wrap"> Texto que no se sale de su contenedor y que esta muy chingon simon. </div>
<div class="badge bg-primary text-wrap text-break"> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaagria </div>

<h2>Transformar texto</h2>
<div class="text-lowercase"> simon. </div>
<div class="text-uppercase"> simon. </div>
<div class="text-capitalize"> simon. </div>


<h2>Tamaño del texto</h2>
<p class="fs-1"> .fs-1 </p>
<p class="fs-2"> .fs-2 </p>
<p class="fs-3"> .fs-3 </p>
<p class="fs-4"> .fs-4 </p>
<p class="fs-5"> .fs-5 </p>
<p class="fs-6"> .fs-6 </p>

<h2>Estilos de texto</h2>
<p class="fw-bold"> Negra </p>
<p class="fw-bolder"> Negrota </p>
<p class="fw-normal"> Normal </p>

<p class="fw-light"> light </p>
<p class="fw-lighter"> lighter </p>
<p class="fst-italic"> Cursiva acá chida de esas </p>

<p class="text-decoration-underline"> subrayado </p>
<p class="text-decoration-line-through"> linea en medio del textoo </p>

<a href="#" class="" > Enlace normi </a>
<br />
<a href="#" class="text-decoration-none"> Enlace sin decoracion </a>

<h2>Formulario</h2>

<form>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <textarea type="email" class="form-control" rows="3"> </textarea>
    </div>

    <div class="mb-3">
       <label class="form-label">Color favorito</label>
       <select>
           <option value="1">Azul</option>
           <option value="2">Rojo</option>
           <option value="3">Verde</option>
           <option value="4">Siena Tostada</option>
       </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" checked />
        <label class="form-label">Walagu?</label>
    </div>

    

    <div class="form-check">
        <input class="form-check-input" type="radio" name="miradio"/>
        <label class="form-label"> WL-0 </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="miradio" />
        <label class="form-label"> WL-1 </label>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="radio" placeholder="Nombre"/>
        <label> Nombre </label>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="radio" placeholder="Nombre" disabled />
        <label> Nombre </label>
    </div>

    <div class="mb-3">
        <label> Color de la camisa </label>
        <input class="form-control form-control-color" type="color" value="#563d7c" />
       
    </div>




</form>



<h2>Formulario en columnas</h2>
<div class=row>
    <div class ="col">
        <input type="text" class="form-control" placeholder="primer nombre" />
    </div>
    <div class ="col">
        <input type="text" class="form-control" placeholder="segundo nombre" />
    </div>
    <div class="col">
        <button class="btn btn-primary">Enviar</button>
    </div>
</div>

<h2>Acordion</h2>
<div class="accordion" id="ejemploAcordeon">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button data-bs-toggle="collapse" data-bs-target="#elemento1Acordeon" class="accordion-button">Elemento 1 </button>
        </h2>
        <div id="elemento1Acordeon" class="accordion-collapse collapse show" data-bs-parent="#ejemploAcordeon">

            <div class="accordion-body"> 
                 Este es el contenido del primer elemento
            </div>
        </div>

    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button data-bs-toggle="collapse" data-bs-target="#elemento2Acordeon" class="accordion-button">Elemento 2 </button>
        </h2>
        <div id="elemento2Acordeon" class="accordion-collapse collapse" data-bs-parent="#ejemploAcordeon">

            <div class="accordion-body"> 
                 Este es el contenido del primer elemento
            </div>
        </div>

    </div>


</div>

<div class="alert alert-primary"> Simple primary alert-check it out! </div>
<div class="alert alert-secondary"> Simple secondary alert-check it out! </div>
<div class="alert alert-success"> Simple success alert-check it out! </div>
<div class="alert alert-danger"> Simple danger alert-check it out! </div>
<div class="alert alert-warning"> Simple warning alert-check it out! </div>
<div class="alert alert-info"> Simple info alert-check it out! </div>
<div class="alert alert-light"> Simple light alert-check it out! </div>


<h2>Alerta</h2>

<button onclick="mostrarAlertaExitoso()"> Mostrar alerta existoso</button>
<button onclick="mostrarAlertaError()"> Mostrar alerta error</button>
<div>
    Las alertas se van a mostrar aqui
</div>

<div id="contenedor-alertas">

</div>



<div id="carouselEjemplo" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa-mexico-2.jpg" class="d-block w-100" />
        </div>

        <div class="carousel-item">
            <img src="https://i.natgeofe.com/n/6c02ad5a-977b-4f12-b9c0-02ffb0736e07/metropolitan-cathedral-zocalo-mexico-city_16x9.JPG" class="d-block w-100" />
        </div>

        <div class="carousel-item">
            <img src="https://cdn.forbes.com.mx/2018/08/mexico-bandera-rts.png" class="d-block w-100" />
        </div>

    </div>

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselEjemplo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselEjemplo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselEjemplo" data-bs-slide-to="2"></button>

         <button class="carousel-control-prev"  type="button" data-bs-target="#carouselEjemplo" data-bs-slide="prev">
             <span class="carousel-control-prev-icon"></span>
         </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselEjemplo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>




<!-- ventana modal -->

<div>

</div>


<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ejemploModal">
    abrir modal
</button>

<div class="modal fade" id="ejemploModal" tabindex="-1">
    <div class="modal-dialog">
         <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title"> Titulo del modal</h5>
                  <button type="button" class="btn-close"></button>
             </div>

             <div class="modal-body">
                  <p> Este es un pequeño  form </p>
                  <form>
                      <div class="mb-3">
                          <label class="form-label">Nombre</label>
                          <input type="text" class="form-control" />
                      </div>
                  </form>
             </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" data-bs-dismiss="modal">Salvar cambios</button>
            </div>

        </div>
    </div>
</div>

<h2>Tabs</h2>

<ul class="nav nav-tabs"> 
    <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">
            tab 1
        </button>
    </li>

    <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">
            tab 2
        </button>
    </li>
</ul>

<div class="tab-content"> 
    <div class="tab-pane fade show active" id="tab1">
          HELP ME :3
    </div>

    <div class="tab-pane fade" id="tab2">
       PLOX
    </div>

</div>

<h2>Menu desplegable</h2>

<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#ejemploOffcanvas">Abrir canvas</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ejemploOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title"> Mi aplicacion</h5>
    </div>

    <div class="offcanvas-body">
        <div>
            un ejemplo de texto
        </div>
    </div>

</div>

<h2>toast</h2>

<button type="button" class="btn btn-primary" onclick="mostrarToast()">mostrar la tostada</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1">
    <div id="miToast" class="toast">
        <div class="toast-header">
            <strong class="me-auto">Mensaje enviado</strong>
            <small>hace unos instantes</small>
            <button class="btn-close" data-bs-dismiss="toast"></button>
        </div>
    </div>

    <div class="toast-body">
        El mensaje fue enviado a goku
    </div>



</div>











@section Scripts{
    <script>
        function mostrarAlertaExitoso() {
            mostrarAlerta('Este es un mesaje exitoso', 'success');
        }
        function mostrarAlertaError() {
            mostrarAlerta('Este es un mesaje fallido', 'danger');
        }

        function mostrarAlerta(mensaje, tipo) {
            const alerta = document.createElement("div");
            alerta.innerHTML = `<div class="alert alert-${tipo}" role="alert" data-bs-dismiss="alert" > ${mensaje} </div>`;

            const contenedorAlertas = document.getElementById('contenedor-alertas');
            contenedorAlertas.append(alerta);
        }




        function mostrarToast() {
            var ejemploToast = document.getElementById('miToast');
            var toast = new boostrap.Toast(ejemploToast);
            toast.show();
        }

    </script>
}