<app-slider [nombre] = "'Busqueda: ' + search" [size] = "'small'"></app-slider>
 
    <!--Valores y propiedades que se le pueden pasar a alguna propiedad. -->

<div class = "center">
    <section id = "content">
        <!-- etiqueta que va al ruter reviza que rutas hay creadas y carga
        dentro de la etiqueta carga dicho segmento basicamente detecta la ruta
        que hay y carga un componente mamalon. -->
    <h1 class = "subheader">Articulos encontrados</h1>

           
           <app-articles  
           [articles]="articles"
           >
              
           </app-articles> 
        
    </section>
   
</div>
<app-sidebar></app-sidebar>