.sp_2Y9UXsXToUJ{background-image:url(/rsrc.php/v3/yf/r/qK6yKGLMXxs.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_2Y9UXsXToUJ.sx_b8f71b{background-position:0 0}.sp_2Y9UXsXToUJ.sx_c62e19{background-position:0 -21px}

#bootloader__QSolnI{height:42px;}.bootloader__QSolnI{display:block!important;}