

<div style="margin-top: -105px">
    <div style="margin-left:2%" class="row justify-content-center text-center">
        <div class="col col-5 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-back"></i><h3>Back End</h3>
            <p>Trabajo desde el desarrollo de conexiones y pruebas</p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Html, Css, PHP</li>
                <li>C,C++,C#</li>
                <li>Angular,Ionic</li>
                <li>GML</li>
                <li>Java</li>
                <li>Macros</li>
            </ul>
        </div>

        <div class="col col-5 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-front"></i>  <h3>Front End</h3>
            <p>Fronts robustos</p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Angular, PHP
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Css</li>
                <li>Angular</li>
                <li>WordPress</li>

            </ul>


        </div>

        <div class="col col-3 bg-white">
        </div>
    </div>
</div>