
<div class="text-center">
    <h1 class="display-4">Soy @ViewBag.Nombre</h1>
    <h2>Desarrollador de ASP.net</h2>
    <img id="foto" src="~/imagenes/gama.jpg" alt="Foto del gama" />

    <div class="row justify-content-center text-center bg-primary seccion-bienvenenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado aprendiendo a desarrollador diferentes tipos de aplicaciones en una
            gran variedad de plataformas.
        </p>
    </div>

</div>