@model IEnumerable<ProyectoDTO>


        <div class="text-center" style="padding-top: 6rem;">
            <h1>Mis trabajos mas recientes</h1>
            <p>Aquí puedes ver mis trabajos mas recientes</p>
            
        </div>

        <partial name="ListadoProyectos" model="Model">
