@model IEnumerable<ProyectoDTO>

@{
    ViewData["Title"] = "proyectos";
}

<div class="container">
    <h1>Mis Proyectos</h1>
    <p>Aquí encontraras todos mis proyectos</p>
</div>

<partial name="ListadoProyectos" model="Model">